# Lecture 5

# Review Exercises page 17

In [ ]:
#1
cardinal_numbers = ("First", "Second", "Third")

In [8]:
#2
print(cardinal_numbers[1])

Second

In [10]:
#3
position1, position2, position3 = cardinal_numbers
print("Position 1:", position1)
print("Position 2:", position2)
print("Position 3:", position3)

Position 1: First
Position 2: Second
Position 3: Third

In [17]:
#4
my_name = tuple('Samantha')
print(my_name)

('S', 'a', 'm', 'a', 'n', 't', 'h', 'a')

In [5]:
#5
if 'X' in my_name or 'x' in my_name:
    print("There is a letter 'X' in your name.")
else:
    print("There is no letter 'X' in your name.")

There is no letter 'X' in your name.

In [11]:
#6
no_firstletter = print (my_name[1:])

('a', 'm', 'a', 'n', 't', 'h', 'a')

# Review Exercises page 36

In [8]:
#1
food = ['Rice', 'Beans']
print(food)

['Rice', 'Beans']

In [9]:
#2
food.append('Broccoli')
print(food)

['Rice', 'Beans', 'Broccoli']

In [10]:
#3
food_2 = ['Bread', 'Pizza']
food.extend(food_2)
print(food)

['Rice', 'Beans', 'Broccoli', 'Bread', 'Pizza']

In [11]:
#4
print(food[0:2])

['Rice', 'Beans']

In [12]:
#5
print(food[-1:])

['Pizza']

In [18]:
#6
food = "Eggs, Fruit, Orange juice"
breakfast = food.split(", ")
print(breakfast)

['Eggs', 'Fruit', 'Orange juice']

In [19]:
#7
print(len(breakfast))

3

In [20]:
#8
lengths = [len(food) for food in breakfast]
print(lengths)

[4, 5, 12]

# Review Exercises page 41

In [21]:
#1
tuple_data = ((1, 2), (3, 4))
print(tuple_data)

((1, 2), (3, 4))

In [25]:
#2
count = 0
for num in tuple_data:
    total = sum(num)
    count += 1
    print(f"Row {count} sum: {total}")

Row 1 sum: 3
Row 2 sum: 7

In [26]:
#4
num = tuple_data[:]
print(num)

((1, 2), (3, 4))

In [35]:
#5
num_list = list(tuple_data) 
num_list.sort()
print(num_list)

[(1, 2), (3, 4)]

# Challenge: List of Lists page 42

In [37]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566,  40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 117011, 40500]
]
universities

[['California Institute of Technology', 2175, 37704],
 ['Harvard', 19627, 39849],
 ['Massachusetts Institute of Technology', 10566, 40732],
 ['Princeton', 7802, 37000],
 ['Rice', 5879, 35551],
 ['Stanford', 19535, 40569],
 ['Yale', 117011, 40500]]

# Challenge: Wax Poetic page 43

In [ ]:
Nouns = ["Fossil", "Horse", "Aardvark", "Judge", "Chef", "Mango", "Extrovert", "Gorilla"]

Verbs = ["Kicks", "Jingles", "Bounces", "Slurps", "Meows", "Explodes", "Curdles"]

Adjectives = ["Furry", "Balding", "Incredulous", "Fragrant", "Exuberant", "Glistening"]

Prepositions = ["Against", "After", "Into", "Beneath", "Upon", "For", "In", "Like", "Over", "Within"]

Adverbs = ["Curiously", "Furiously", "Sensuously", "Extravagantly", "Tantalizingly"]

# Review Exercises page 57 - 58

In [41]:
#1
captains = {}

In [40]:
#2
captains = {'Enterprise': 'Picard',
            'Voyager': 'Janeway',
            'Defiant': 'Sisko'}
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [13]:
#3
if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"
if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

In [15]:
#4
for ship in captains:
    print(f"The {ship} is captained by {captains[ship]}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

In [17]:
#5
del captains["Discovery"]
print(captains)

KeyError: 'Discovery'

In [19]:
#6
captains = dict(Enterprise='Picard', Voyager='Janeway', Defiant='Sisko')\
pri

# Challenge: Capital City Loop page 59

In [ ]:
capitals_dict - {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}